<h1 class="text-center">Novo Usuário</h1>
<div class="mb-3">
  <form [formGroup]="formCadUser">
    <div class="mb-2">
      <label
        for="nome"
        class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
        >Nome Completo</label
      >
      <input
        type="text"
        name="nome"
        formControlName="fullName"
        class="border text-gray-900 text-sm rounded-lg block w-full p-2.5"
        placeholder="Nome completo"
        required
      />
      <my-campo-error
        [mostrarErro]="verificarCampoValido('fullName')"
        msnError="Nome Obrigatório."
      ></my-campo-error>
    </div>
    <div class="mb-2">
      <label
        for="nome"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Apelido</label
      >
      <input
        type="text"
        name="nickName"
        formControlName="nickName"
        class="border text-gray-900 text-sm rounded-lg block w-full p-2.5"
        placeholder="Como Quer Ser Chamado"
        required
      />
      <my-campo-error
        [mostrarErro]="verificarCampoValido('nickName')"
        msnError="Nome Obrigatório."
      ></my-campo-error>
    </div>
    <div class="mb-2">
      <label
        for="phone"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Phone</label
      >
      <input
        type="tel"
        name="phone"
        formControlName="phone"
        class="border text-gray-900 text-sm rounded-lg block w-full p-2.5"
        placeholder="(xx)x xxxx-xxxx"
        required
      />
      <my-campo-error
        [mostrarErro]="verificarCampoValido('phone')"
        msnError="phone Obrigatório."
      ></my-campo-error>
    </div>
    <div class="mb-3">
      <label
        for="document"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >CPF</label
      >
      <input
        type="document"
        name="document"
        formControlName="document"
        class="border text-gray-900 text-sm rounded-lg block w-full p-2.5"
        placeholder="xxx.xxxx.xxx-xx"
        required
      />
      <my-campo-error
        [mostrarErro]="verificarCampoValido('document')"
        msnError="document Obrigatório."
      ></my-campo-error>
    </div>

    <div class="mb-3">
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Email</label
      >
      <input
        type="email"
        name="email"
        formControlName="email"
        class="border text-gray-900 text-sm rounded-lg block w-full p-2.5"
        placeholder="email@email.com.br"
        required
      />
      <my-campo-error
        [mostrarErro]="verificarCampoValido('email')"
        msnError="email Obrigatório."
      ></my-campo-error>
    </div>
    <div class="mb-3">
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Senha</label
      >
      <input
        type="password"
        name="password"
        formControlName="password"
        placeholder=""
        class="border text-gray-900 text-sm rounded-lg block w-full p-2.5"
        required
      />
      <my-campo-error
        [mostrarErro]="verificarCampoValido('password')"
        msnError="password Obrigatório."
      ></my-campo-error>
    </div>
  </form>
</div>
<div class="flex justify-around">
  <button
    (click)="cancelar()"
    class="text-white bg-cerise-red-400 hover:bg-cerise-red-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
  >
    Cancelar
  </button>

  <button
    [disabled]="formCadUser.invalid"
    (click)="createLogin()"
    class="text-white bg-blue-700 hover:bg-blue-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
  >
    Adicionar
  </button>
</div>
